<%- include('../_layouts/adminheader') %>

<h2 class="bookings-title">Bookings</h2>
<br><br>

<table class="table table-striped">

    <thead>
        <tr class="home">
            <th>User Name</th>
            <th>Image</th>
            <th>Vehicle</th>
            <th>Starting Location</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Quantity</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach((user)=>{ %>
            <% user.bookings.forEach((booking)=>{ %>
            <tr>
                <td><%= user.username %></td>
                <td><img class="pimage" src="<%= booking.image %>" alt=""></td>
                <td><%= booking.title %></td>
                <td><%= booking.origin %></td>
                <td><%= booking.destination %></td>
                <td><%= booking.date %></td>
                <td><%= booking.time %></td>
                <td><%= booking.qty %></td>
                <td><%= booking.status %></td>
                <td><a href="/admin/bookings/confirm/<%= user.username %>/<%= user.bookings.indexOf(booking) %>">Confirm</a> / 
                    <a href="/admin/bookings/decline/<%= user.username %>/<%= user.bookings.indexOf(booking) %>">Decline</a></td>
            </tr>
            <% }); %>
            <% }); %>
    </tbody>
</table>

<%- include('../_layouts/adminfooter') %>