<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Edit a vehicle</h2>
<a href="/admin/vehicles" class="btn btn-primary">Back to all vehicles</a>
<br><br>

<form method="post" action="/admin/vehicles/edit-vehicle/<%= id %>">
    
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    
    <div class="form-group">
        <label for="">Description</label>
        <textarea name="desc" class="form-control" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
    </div>
    
    <div class="form-group">
        <label for="">Category</label>
        <select name="category" class="form-control">
            <% categories.forEach(function(cat){ %>
                <option value="<%= cat.slug %>"
                <% if (cat.slug == category) { %>
                selected="selected"
                <% } %>        
                ><%= cat.title %></option>
            <% }); %>
        </select>
    </div>
    
    
    
    <div class="form-group">
        <label for="">Image</label>
        <input type="text" class="form-control" name="image" value="<%= image %>" placeholder="Image">
    </div>
    
    <button class="btn btn-default">Submit</button>
</form>

<%- include('../_layouts/adminfooter') %>