<%- include('./_layouts/header.ejs') %>

<div class="row products">
    
    <% vehicles.forEach(function(p){ %>
            <div class="col-xs-12 col-md-4 p">
                <a class="pa" href="/vehicles/<%= p.category %>/m/<%= p.slug %>">
                    <img class="pimage" src="<%= p.image %>" alt="">
                </a>
                <h3><%= p.title %></h3>
                <a class="vd" href="/vehicles/<%= p.category %>/m/<%= p.slug %>">View Details</a>
            </div>
        <% }); %>
    
</div>

<%- include('./_layouts/footer.ejs') %>