<%- include('./_layouts/header') %>

<h2 class="page-title">Fill Details</h2>
<a href="/vehicles" class="btn btn-primary">Back to all vehicles</a>
<br><br>

<form method="post" action="/book/update/<%= vehicle %>/details">
    
    <div class="form-group">
        <label for="">Starting Location</label>
        <input type="text" class="form-control" name="origin" value="<%= origin %>" placeholder="Origin">
    </div>

    <div class="form-group">
        <label for="">Destination</label>
        <input type="text" class="form-control" name="destination" value="<%= destination %>" placeholder="Destination">
    </div>

    <div class="form-group">
        <label for="">Date(ddmmyyyy)</label>
        <input type="text" class="form-control" name="date" value="<%= date %>" placeholder="Date">
    </div>

    <div class="form-group">
        <label for="">Time(hhmm)</label>
        <input type="text" class="form-control" name="time" value="<%= time %>" placeholder="Time">
    </div>

    <button class="btn btn-default">Submit</button>
</form>

<%- include('./_layouts/footer') %>